body{
    background-color:rgb(17, 74, 233);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 247, 247);
    font-size: 14pt;
}
h1{
    font-size: 28pt;
    text-shadow: 5px 5px 2px rgb(163, 190, 178);
}
button{
    background-color: rgb(248, 136, 31);
    color: white;
    border-radius: 5px;
}
select, input{
    color: rgb(48, 48, 48);
    width: 100px;
}
.ancho-medio{     width: 250px; }

h2{
  
    font-size: 28pt;
    text-shadow: 5px 5px 2px rgb(163, 190, 178);  
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}