body{
    background-color:rgb(110, 220, 79);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 247, 247);
    font-size: 14pt;
}
h1{
    font-size: 28pt;
    text-shadow: 5px 5px 2px rgb(3, 143, 26);
}
button{
    background-color: rgb(204, 248, 31);
    color: white;
    border-radius: 5px;
}
select, input{
    color: rgb(48, 48, 48);
    width: 100px;
}
.ancho-medio{     
    width: 250px; }
.h2-cris{
color:blue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-decoration: underline wavy;
background-color: brown;
display: inline;
}
.p-cris{
color: crimson;
font-family: 'Times New Roman', Times, serif;
text-decoration: underline dashed;
text-shadow:  1px 1px 1px black;
filter: drop-shadow(1px 3px 1px red);

}